body
{
  overscroll-behavior: contain;
}

div.container1
{
  height: 10em;
  position: relative;
  text-align: center;

}

/* div.container1 form
{
  margin: 0;
  position: absolute;
  top: 105%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
} */

/* div.container1 button
{
  margin: 0;
  position: absolute;
  top: 125%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -20%)
} */

div.container1 ul.list-group.list-group-flush
{
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

div.container-chat
{
  height: 10em;
  margin: 0;
  position: absolute;
  top: 115%;
  left: 85%;
  margin-right: -50%;
  transform: translate(-50%, -20%)
}

ul#chat
{
  overflow: auto;
  width: 90%;
  height: 10em;
  margin: 1em 0;
  padding: 0 3px; 
  list-style: none;
  border: 1px solid gray;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
ul#chat li
{
  margin: 0.35em 0;
  padding: 0;
}

#clear-canvas {
  background-color: rgb(218, 86, 86);
}

#flood-fill-bucket {
  background-color: rgb(29, 51, 142);
}

/*
#pencil-tool {
  background-color: rgb(88, 41, 182);
}
*/

.buttons {
  width: 120px;
  border: none;
  color: white;
  padding: 3px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 2px 2px;
  cursor: pointer;
}


.active-button {
  background-color: white;
  width: 120px;
  border: none;
  color: white;
  padding: 3px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 2px 2px;
  cursor: pointer;
}

.inactive-button {
  background-color: rgb(29, 51, 142);
  width: 120px;
  border: none;
  color: white;
  padding: 3px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 2px 2px;
  cursor: pointer;
  opacity: 75%;
}
 